<!DOCTYPE html>
<html lang="fr" ng-app='myApp'>
    <head>
        <title>AngularJS</title>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='angular.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    </head>
    <body ng-controller="appCtrl">
        <div>
            <ul>
                <li ng-repeat='branchs in tree'>
                    {{ branchs.id }}
                   <span>{{ branchs.name }}</span>
                    <ul>
                        <li>
                            {{ branchs.child.id }}
                            <span>{{ branchs.child.name }}</span>
                        </li>
                        <li ng-repeat='branch in branchs.child'>
                            {{ branch.id }}
                            <span> {{ branch.name }} </span>
                            <ul>
                                <li ng-repeat='other in branch'>
                                    {{ other.id }}
                                    <span> {{ other.name }}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <script src='angular.js'></script>
    </body>
</html>